
body {
    background-color: antiquewhite;
}

#app {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px 20% 0 20%;
    padding: 10px;
    background-color: white;
}
table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
td, th {
    padding: 10px
}

.card {
    margin: 15px 20% 15px 20%;
    padding: 10% 0 10% 0;
    border: solid black 1px;
    background-color: rgb(217, 216, 216);
}

.card-front {
    background-color: bisque;
}
.card-back {
    background-color: rgb(154, 183, 161);
}
.learned {
    color: green;
    font-weight: bold;
    border: none;
}
.not_learned {
    font-weight: bold;
    border: none;
}

.btn, .input {
    margin: 1px;
}